* {
  font-family: 'Helvetica Neue', 'Georgia';
}
html, body, form, .note_content {
  height: 100%;
}
body {
  background: $gray-light;
  margin-left: 20%;
  margin-right: 20%;
  color: $gray;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
header {
  width: 100%;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  a {
    margin-right: 15px;
  }
}
.timeago {
  margin-top: -10px;
  font-size: 1rem;
}
a {
  color: $gray;
  transition: 200ms color ease;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: $theme-color;
  }
}
p {
  font-size: 1.3rem;
}
.input {
  label {
    opacity: .5;
    display: block;
  }
  input {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bold;
  }
}
input, textarea, .note_content {
  outline: 0;
  border: 0;
  background: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
.note_content, textarea {
  height: 600px;
}
textarea:focus, input:focus{
  outline: 0;
}
#note_content {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}

.btn {
  width: 100%;
  font-weight: 700;
  background: $gray;
  font-size: 2rem;
  padding-top: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  color: white;
  transition: 300ms color ease;
  &:hover {
    background: $theme-color;
  }
  margin-bottom: 40px;
}

#logo {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.7rem;
}
#new_note_btn, #sign_out {
  float: right;
}

#new_note_btn {
  font-weight: 700;
  background: $gray;
  font-size: 1.1rem;
  padding: 6px;
  margin-top: -6px;
  color: white;
  transition: 300ms color ease;
  &:hover {
    background: $theme-color;
  }
}
#note_opt {
  text-align: right;
  margin-bottom: 30px;
  bottom: 30px;
  opacity: .8;
  transition: color ease .3s;
  &:hover {
    opacity: 1;
  }
  a {
    margin-right: 10px;
  }
}


// Media Queries
@media screen and (max-width: 1000px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (max-width: 600px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
}
