* {
  font-family: 'Helvetica Neue', 'Georgia';
}
html, body, form, .note_content {
  height: 100%;
}
body {
  background: $gray-light;
  margin-left: 25%;
  margin-right: 25%;
  color: $gray;
}

header {
  width: 100%;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  a {
    margin-right: 15px;
  }
}
.timeago {
  margin-top: -10px;
  font-size: 1rem;
}
a {
  color: $gray;
  transition: 200ms all ease;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: $theme-color;
  }
}
p {
  font-size: 1.3rem;
}
.input {
  label {
    opacity: .5;
    display: block;
  }
  input {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bold;
  }
}
input, textarea, .note_content {
  outline: 0;
  border: 0;
  background: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: none;
  margin: 0;
  padding: 0;
}
.note_content, textarea {
  height: 80%;
}
textarea:focus, input:focus{
  outline: 0;
}
#note_content {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}

.btn {
  width: 100%;
  font-weight: 700;
  background: $gray;
  font-size: 2rem;
  margin-top: -80px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  transition: 300ms all ease;
  &:hover {
    background: $theme-color;
  }
  margin-bottom: 50px;
}

#logo {
  text-align: left;
}
#new_note_btn, #sign_out {
  float: right;
}

#new_note_btn {
  font-weight: 700;
  background: $gray;
  font-size: 1.1rem;
  padding: 6px;
  margin-top: -6px;
  color: white;
  transition: 300ms all ease;
  &:hover {
    background: $theme-color;
  }
}


// Media Queries
